core/module.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="module" type="Module"/>

    <xs:complexType name="Module">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="version" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>

            <xs:element name="listener" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parserDecorator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>